<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"  font-family='verdana'>
<br>
Pago realizado.<br><br>

{% if cuentaUsuario %}
    Cuenta: {{ pedido.cuenta.id }}<br>

    Extra: {% if pedido.objetosExtras is empty %}Nada{% endif %}}<br>
    {% for objetoExtra in pedido.objetosExtras%}
        - {{ objetoExtra.nombre }} {{ objetoExtra.precio }}}<br>
    {% endfor %}

{% else %}
    NReferidos: {{ pedido.nReferidos }}<br>
{% endif %}
PedidoId: {{ pedido.id }}<br>
ReferralLink: {{ referralsLink }}<br>
Correo: {{ email  }}<br>
Total: {{ pedido.paymentInstruction.amount }}




</body>
</html>