{# entity \MGD\BasicBundle\Entity\Cuenta #}
{% extends 'MGDAdminBundle::layout_admin.html.twig' %}

{% block title %}
{{ parent() }} - Cuenta {{ 'views.show.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Cuenta</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Titletemplate</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.titleTemplate }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Precio</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.precio }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Influencepoints</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.influencePoints }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Descripcion</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.descripcion }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Level</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.level }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Imagenpath</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.imagenPath }}</span>            </div>
        </div>

        <div style="margin-top: 20px">
            <h4>Objetos extra</h4>
            <ul>
                {% for objetoExtra in entity.objetosExtras %}
                    <li>
                        {{ objetoExtra.nombre }} {{ objetoExtra.precio }}€
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div style="margin-top: 20px">
            <h4>Cuentas</h4>
            <ul>
            {% for cuenta in entity.cuentaUsuarios %}
                <li>
                    {{ cuenta.usuario }} {{ cuenta.password }} Usado: {% if cuenta.usado %} Si {% else %} No {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('cuenta') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('cuenta_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('cuenta_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}