<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ block('title') }}</title>
        <meta name="description" content="{{ block('description') }}">

        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('description') }}" />
        <meta property="og:image" content="{{ asset('img/logo.png') }}"/>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
