            <div class="row">
                <ul class="span4">
                    <h3>Opciones de la página</h3>

                    <li><a href="{{ path('noticia') }}">Noticias</a></li>
                    <li><a href="{{ path('contacto') }}">Preguntas de clientes</a></li>
                    <li><a href="{{ path('pedido') }}">Pedidos</a> /
                        <a href="{{ path('pedidoestados') }}">Estado de pedidos</a> /
                        <a href="{{ path('estado') }}">Estados posibles</a>
                    </li>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li><a href="{{ path('articulo') }}">Articulos en venta</a></li>
                        <li><a href="{{ path('cupondescuento') }}">Cupones descuento</a></li>
                        <li><a href="{{ path('cola_edit', { 'id': 1 }) }}">Cola</a></li>
                        <li><a href="{{ path('paypalaccount') }}">Cuentas de Paypal</a> /
                            <a href="{{ path('paypalaccountspayments') }}">Historial Pagos</a>
                        </li>
                </ul>
                <ul class="span4">
                        <h3>Opciones de Usuarios</h3>

                        <li><a href="{{ path('usuario') }}">Usuarios</a></li>
                        <li><a href="{{ path('rol') }}">Roles</a></li>

                    {% endif %}
                </ul>
                <ul class="span4">
                    <h3>Otras Opciones</h3>

                    <li><b>Usuario</b>: {{ app.user.username }}</li>
                    <li>
                        <b>Rol</b>:
                        {% for rol in app.user.getUserRoles() %}
                            {{ rol }}
                        {% endfor %}
                    </li>
                    <li style="margin-top: 20px"><a href="{{ path('logout') }}">Salir / logout</a></li>

                </ul>
            </div>


