{% extends "MGDBasicBundle::layout.html.twig" %}

{% block title %}{{ 'seguimiento.metas.title' | trans }}{% endblock %}
{% block description %}{{ 'seguimiento.metas.description' | trans }}{% endblock %}

{% block body_principal %}

    <article>
        <header>
            <h1>{{ 'seguimiento.principal.titulo' | trans }}</h1>
            <p>
                {{ 'seguimiento.principal.texto' | trans }}
            </p>

        </header>
        <section id="seguimiento">
            <br>
            <form id="contacto" action="{{ path('seguimiento_' ~ app.request.locale) }}" method="post">
                {{ form_widget(seguimiento_form) }}

                <input type="submit" class="btn btn-primary" value="{{ 'formularios.seguimiento.submit' | trans }}">

            </form>

                {% if seguimientos %}
                    <br>
                    <h3>{{ 'formularios.seguimiento.seguimiento' | trans }}: {{ seguimientoId }}</h3>

                    <h4>General Progress</h4>

                    <table >
                    <tr>
                        <th>{{ 'formularios.seguimiento.estado' | trans }}</th>
                        <th>{{ 'formularios.seguimiento.fecha' | trans }}</th>
                        <th>{{ 'formularios.seguimiento.descripcion' | trans }}</th>
                    </tr>

                    {% for seguimiento in seguimientos %}
                        <tr>
                            <td>{{ seguimiento.estado }}</td>
                            <td>{{ seguimiento.fecha |date('Y-m-d H:i:s') }}</td>
                            <td>{{ seguimiento.descripcion }}</td>
                        </tr>
                    {% endfor %}

                </table>

                    {% if bots.count()>0 %}

                        <h4>Accounts Progress</h4>

                        <table>
                            <tr>
                                <th>Nombre bot</th>
                                <th>Progreso</th>
                                <th>Fecha Actualizado</th>
                            </tr>

                            {% for bot in bots %}
                                {# bott \MGD\BasicBundle\Entity\PedidoBots #}

                                <tr>
                                    <td>{{ bot.nombre }}</td>
                                    <td>
                                        <div class=" span2 progress progress-striped active text-info" style="text-align: center; margin-bottom: 0">
                                            <div class="bar" style="width: {{ bot.lvl*10 }}%;">lvl {{ bot.lvl }}</div> Pendiente
                                        </div>
                                    </td>
                                    <td>{{ bot.updateDate|date('Y-m-d H:i') }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}

                {% endif %}
        </section>
    </article>

{% endblock %}

{% block aside_principal %}

    <h3>{{ 'seguimiento.aside.titulo' | trans }}</h3>
    <p>{{ 'seguimiento.aside.texto' | trans | raw }}</p>
    <br>

{% endblock %}