{% extends "MGDBasicBundle::layout.html.twig" %}

{% block title %}{{ 'seguimiento.metas.title' | trans }}{% endblock %}
{% block description %}{{ 'seguimiento.metas.description' | trans }}{% endblock %}

{% block body_principal %}

    <article>
        <header>
            <h1>{{ 'seguimiento.principal.titulo' | trans }}</h1>
            <p>
                {{ 'seguimiento.principal.texto' | trans }}
            </p>

        </header>
        <section id="seguimiento">
            <br>
            <form id="contacto" action="{{ path('seguimiento_' ~ app.request.locale) }}" method="post">
                {{ form_widget(seguimiento_form) }}

                <input type="submit" class="btn btn-primary" value="{{ 'formularios.seguimiento.submit' | trans }}">

            </form>

                {% if seguimientos %}
                    <br>
                    <h3>{{ 'formularios.seguimiento.seguimiento' | trans }}: {{ seguimientoId }}</h3>

                    <p>
                        {{ 'formularios.seguimiento.desbloquear_premios' | trans | raw }}
                    </p>

                    <h4>{{ 'formularios.seguimiento.progreso_general' | trans }}</h4>

                    <table >
                    <tr>
                        <th>{{ 'formularios.seguimiento.estado' | trans }}</th>
                        <th>{{ 'formularios.seguimiento.fecha' | trans }}</th>
                        <th>{{ 'formularios.seguimiento.descripcion' | trans }}</th>
                    </tr>

                    {% for seguimiento in seguimientos %}
                        <tr>
                            <td>{{ seguimiento.estado }}</td>
                            <td>{{ seguimiento.fecha |date('Y-m-d H:i:s') }}</td>
                            <td>{{ seguimiento.descripcion }}</td>
                        </tr>
                    {% endfor %}

                </table>

                    {% if bots.count()>0 %}

                        <h4>{{ 'formularios.seguimiento.bots_progreso' | trans }}</h4>

                        <table id="bots">
                            <tr>
                                <th>{{ 'formularios.seguimiento.bots.nombre' | trans }}</th>
                                <th>{{ 'formularios.seguimiento.bots.progreso' | trans }}</th>
                                <th>{{ 'formularios.seguimiento.bots.fecha_actualizado' | trans }}</th>
                            </tr>

                            {% for bot in bots %}
                                {# bott \MGD\BasicBundle\Entity\PedidoBots #}
                                {% if loop.index is divisibleby(bots_n_per_page) %}
                                    {% set pag_count = pag_count + 1 %}
                                    </tbody>
                                    <tbody id="paginado{{ pag_count }}" class="hidden">
                                {% elseif loop.index == 1 %}
                                    {% set pag_count = 1 %}
                                    <tbody id="paginado{{ pag_count }}" class="activado">
                                {% endif %}
                                <tr>
                                    <td>{{ loop.index }}. {{ bot.nombre }}</td>
                                    <td>
                                        <div class=" span2 progress progress-striped active text-info" style="text-align: center; margin-bottom: 0">
                                            <div class="bar" style="width: {{ bot.lvl*10 }}%;overflow: hidden;">
                                                {{ 'formularios.seguimiento.bots.lvl' | trans }} {{ bot.lvl }}
                                            </div>
                                            {{ 'formularios.seguimiento.bots.pendiente' | trans }}
                                        </div>
                                    </td>
                                    <td>{{ bot.updateDate|date('Y-m-d H:i') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div id="botsPagination" class="pagination pagination-right">
                            <ul>
                                {% for i in 1..bots_n_pages %}
                                    <li class="{% if i==1 %}active{% endif %}"><a href="#accounts-progress" class="pag-listen">{{ i }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                {% endif %}
        </section>
    </article>

{% endblock %}

{% block javascripts %}
<script>
    function load() {
        var el = document.getElementsByClassName("pag-listen");
        for(var i = 0, j=el.length; i<j; i++){
            el[i].addEventListener("click", function(){ cambiar_pagina(this);}, false);
        }
    }

    function cambiar_pagina(obj)
    {
        var el = document.getElementById("botsPagination");

        var childActive=el.getElementsByClassName("active");
        for(var i = 0, j=childActive.length; i<j; i++){
            if (childActive[i])
                childActive[i].className = "";
        }
        obj.parentNode.className = "active";
        var pagina = obj.innerHTML;

        el = document.getElementById("bots");
        childActive = el.getElementsByClassName("activado");
        for(i = 0, j=childActive.length; i<j; i++){
            if (childActive[i])
                childActive[i].className = "hidden";
        }

        el = document.getElementById("paginado" +pagina);
        el.className = "activado";

    }

    load();

</script>
{% endblock %}

{% block aside_principal %}

    <h3>{{ 'seguimiento.aside.titulo' | trans }}</h3>
    <p>{{ 'seguimiento.aside.texto' | trans | raw }}</p>
    <br>

{% endblock %}