{% extends "MGDBasicBundle::layout.html.twig" %}

{% block title %}{{ 'pedido.metas.title' | trans }}{% endblock %}
{% block description %}{{ 'pedido.metas.description' | trans }}{% endblock %}

{% block body_principal %}

    <article>
        <header style="margin-bottom: 20px">
            <h1>{{ 'pedido.principal.titulo' | trans }}</h1>
            <p>{{ 'pedido.principal.texto' | trans | raw }}</p>
        </header>
        <img src="{{ asset('img/paypal.png') }}">
    </article>

{% endblock %}

{% block central %}
    <section id="contenedor-articulos">

        <header>
            <h2>{{ 'pedido.principal.packs' | trans }}</h2>
        </header>
        <br>
        {% for articulo in articulos %}
            <article class="articulo">
                <img src="{{ articulo.imagenPath }}">
                <div class="paypal">
                    <div class="precio">{{ articulo.precio }}{{ moneda }}</div>
                    {{ articulo.paypalHtml | raw }}
                </div>
            </article>

        {% endfor %}
    </section>
{% endblock %}

{% block aside_principal %}

    <h3>{{ 'pedido.aside.titulo' | trans }}</h3>
    <p>{{ 'pedido.aside.texto' | trans | raw }}</p>
    <br>
    <a href="http://feedback.ebay.com/ws/eBayISAPI.dll?ViewFeedback2&userid=donq18&ftab=AllFeedback&myworld=true" target="_blank">
        <img src="{{ asset('img/ebay_2.jpg') }}">
    </a>
    <br><br>

{% endblock %}