{% extends "MGDBasicBundle::layout.html.twig" %}

{% block title %}{{ 'pedido.metas.title' | trans }}{% endblock %}
{% block description %}{{ 'pedido.metas.description' | trans }}{% endblock %}

{% block body_principal %}

    <article>
        <header style="margin-bottom: 20px">
            <h1>{{ 'pedido.principal.titulo' | trans }}</h1>
            <p>{{ 'pedido.principal.texto' | trans | raw }}</p>
            <img src="{{ asset('img/paypal.png') }}">
        </header>
    </article>

{% endblock %}

{% block central %}

    <section id="contenedor-articulos">
        <header>
            <h2>{{ 'pedido.principal.packs' | trans }}</h2>
        </header>
        <div>
            <div id="table-rangos">
                <table>
                    <tr><th colspan="2">{{ 'pedido.principal.precios_por_unidad' | trans }}</th></tr>
                    {% set actRange = 10 %}
                    {% for rango in precioRangos %}
                        {% if  (rango.limite == 10 or rango.limite == 50 or rango.limite == 100 or rango.limite == 150 or rango.limite == 300 or rango.limite == 400) %}
                        <tr id="rango-{{ rango.limite }}">
                            <td>
                                {{ rango.limite }}
                            </td>
                            <td>{{ (rango.precio*rango.limite)|number_format(1, '.', ',') }}&euro; ({{ (rango.precio* rango.limite * eurosToDollars) |number_format(1, '.', ',') }}$)</td>
                        </tr>
                        {% set actRange = rango.limite + 1 %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <article class="articulo">
                <form action="{{ path('pedido_post') }}" method="post">
                    <div id="teemo">
                        <div class="row-fluid">
                            <div id="block-buy-panel"  class="span5">
                                <div>
                                    {{ form_label(pedidoForm.nReferidos) }}
                                    {{ form_errors(pedidoForm.nReferidos) }}
                                    <div>

                                        <div class="span8">
                                            <!--[if !lt IE 10]><!-->
                                            <input type="range" min="10" id="range" onchange="document.getElementById('mgd_basicbundle_pedidotype_nReferidos').value=document.getElementById('range').value;calculatePrice()" oninput="document.getElementById('mgd_basicbundle_pedidotype_nReferidos').value=document.getElementById('range').value;calculatePrice()" max="400" value="{{ nReferidosStart }}" style="width: 100%;margin-top: 4px;">
                                            <!--<![endif]-->
                                        </div>

                                        <div class="span4">
                                            {{ form_widget(pedidoForm.nReferidos, {'attr': {'style': 'margin-left:5px ;width:40px','onchange':'calculatePrice()'}, }) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_rest(pedidoForm) }}

                            </div>

                            <div id="block-rewards" class="offset1 span6">
                                <h2>Rewards</h2>
                                <div id="rewards">

                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" style="margin-top: 30px">
                            <div id="box-submit" class="span9">
                                <div>
                                    <span id="precio_total" class="text-warning"></span>
                                    <span id="precio_descuento" class="text-success"></span>
                                    <span id="precio_descuento_total" class="text-info"></span>
                                </div>

                                <input type="submit" class="btn-primary btn-block btn-large" value="Buy this order!" style="margin-top: 13px;">
                            </div>
                            <div id="box-submit-paypal" class="span3">
                                <img class="paypal-img" src="{{ asset('img/paypal-buy.gif') }}">
                            </div>
                        </div>
                    </div>

                </form>
            </article>

        </div>
        <div id="advertencia">
            *{{ 'pedido.advertencia' | trans }}
        </div>

        <section id="descuento">
            <h2>{{ 'pedido.principal.activar_descuento' | trans }}{% if descuento %}, <span class="text-success">{{ descuento| raw }}</span>{% endif %}</h2>

            {{ include('MGDBasicBundle:CuponDescuento:_index_form.html.twig', {form: cuponDescuentoForm}, with_context = false) }}

        </section>

        {{ render(controller('MGDBasicBundle:Cola:showView')) }}

    </section>
{% endblock %}

{% block aside_principal %}

    <h3>{{ 'pedido.aside.titulo' | trans }}</h3>
    <p>{{ 'pedido.aside.texto' | trans | raw }}</p>
    <br>
    <a href="http://feedback.ebay.com/ws/eBayISAPI.dll?ViewFeedback2&userid=donq18&ftab=AllFeedback&myworld=true" target="_blank">
        <img src="{{ asset('img/ebay_2.jpg') }}">
    </a>
    <br>



    <br>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        var previous;
        var euroToDollar={{ eurosToDollars }};
        var precio=[];
        {% for rango in precioRangos %}
            precio[{{ loop.index-1 }}] = { limite: {{ rango.limite }} , precio: {{ rango.precio }} };
        {% endfor %}
        var descuento= {% if descuento %} { valor: {{ descuento.valor }}, porcentaje: {% if descuento.porcentajeBoo %}true{% else %}false{% endif %} } {% else %} null {% endif %};

        function onchange()
        {
            document.getElementById('mgd_basicbundle_pedidotype_nReferidos').value=document.getElementById('range').value;
            calculatePrice();
        }

        function calculatePrice()
        {
            var val, last, total, descu;
            val = document.getElementById("mgd_basicbundle_pedidotype_nReferidos").value;
            last = null;

            for (var i = 0; i < precio.length; ++i)
            {
                if (precio[i] != null)
                {
                    if (val <= precio[i].limite)
                    {
                        if (!last || last.limite > precio[i].limite)
                        {
                            last = precio[i];
                        }

                    }
                }
            }

            total = val*last.precio;
            document.getElementById("precio_total").innerHTML= Math.round(total* 100) / 100 + "&euro; (" + Math.round(total*euroToDollar* 100) / 100 + "$)" ;

            if (descuento)
            {
                if (descuento.porcentaje)
                {
                    descu= total * descuento.valor /100;
                }else{
                    descu= descuento.valor;
                }

                document.getElementById("precio_descuento").innerHTML= (Math.round(descu * 100) / 100) * -1 + "&euro;";
                document.getElementById("precio_descuento_total").innerHTML=" = " + Math.round((total - descu)*100) / 100 + "&euro;";
            }

            selectTable(val);
            calculateRewards(val);
        }

        function calculateRewards(nReferidos)
        {
            var rewards="<table>";

            rewards+="<tr><td width='35'><img src='/img/rewards/rp_icon.png' width='26' height='26'></td><td>Riot Points</td><td style='font-weight: bold'>"+calculateRiotPoints(nReferidos)+"</td></tr>";
            rewards+="<tr><td><img src='/img/rewards/ip_icon.png' width='26' height='26'></td><td>Influence Points</td><td style='font-weight: bold'>"+((nReferidos*250)+2500)+"</td></tr>";
            rewards+="<tr><td><img src='/img/rewards/b_forum_icon.png' width='26' height='26'></td><td colspan='2'>Recruiter Forum Title</td></tr>";
            rewards+="<tr><td><img src='/img/rewards/runepage_icon.png' width='26' height='26'></td><td colspan='2'>Rune Page</td></tr>";

            if (nReferidos<25)
            {
                rewards+="<tr><td><img src='/img/rewards/b_recruit_icon.png' width='26' height='26'></td><td colspan='2'>Recruiter Forum Title</td></tr>";
            }else if (nReferidos>=25 && nReferidos<100){
                rewards+="<tr><td><img src='/img/rewards/b_senior_icon.png' width='26' height='26'></td><td colspan='2'>Senior Recruiter Forum Title</td></tr>";
            }else if(nReferidos>=100){
                rewards+="<tr><td><img src='/img/rewards/b_master_icon.png' width='26' height='26'></td><td colspan='2'>Master Recruiter Forum Title </td></tr>";
            }


            if (nReferidos>=25)
            {
                rewards+="<tr><td><img src='/img/rewards/warwick_icon.png' width='26' height='26'></td><td colspan='2'>Exclusive Grey Warwick Skin</td></tr>";
            }
            if (nReferidos>=50)
            {
                rewards+="<tr><td><img src='/img/rewards/twitch_icon.png' width='26' height='26'></td><td colspan='2'>Medieval Twitch </td></tr>";
            }

            rewards+="</table>";

            document.getElementById("rewards").innerHTML=rewards;
        }

        function calculateRiotPoints(nReferidos)
        {
            if (nReferidos >= 10 && nReferidos<50)
            {
                return 975;
            }else if(nReferidos >= 50 && nReferidos<75){
                return 2975;
            }else if(nReferidos >= 75 && nReferidos<100){
                return 6975;
            }else if(nReferidos>=100){
                nReferidos-=100;
                return 16975 + (Math.floor(nReferidos/50)*5000)
            }
        }

        function selectTable(nReferidos)
        {
            if (previous)
            {
                previous.className="";
                previous=null;
            }

            if ((nReferidos == 50 || nReferidos == 10 || nReferidos == 100 || nReferidos == 150 || nReferidos == 300 || nReferidos == 400)  && document.getElementById("rango-"+nReferidos))
            {
                previous=document.getElementById("rango-"+nReferidos);
                previous.className="selected"
            }
        }

        calculatePrice();
    </script>
{% endblock %}