{% extends "::base.html.twig" %}
{% block stylesheets %}
    {% stylesheets
        'bundles/mgdbasic/css/*.less'%}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
    {% stylesheets
    'bundles/mgdbasic/css/normalize.min.css'
    'bundles/mgdbasic/css/bootstrap.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
    <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}

    <div class="header-container">
        <header class="wrapper clearfix">
            <div id="top">

                <div id="language">
                    {% spaceless %}
                    <a href="{{ path('cambiar_lenguaje',{ '_locale' : 'es' }) }}">

                        <img src="{{ asset('bundles/mgdbasic/images/spain.png') }}"  alt="{{ 'portal.idiomas.espanol' | trans }}" title="{{ 'portal.idiomas.espanol' | trans }}"
                                {%- if "es" == app.request.locale %}
                                    class="selected"
                                {%- endif -%}
                                >

                    </a>
                    <a href="{{ path('cambiar_lenguaje',{ '_locale' : 'en' }) }}">

                        <img src="{{ asset('bundles/mgdbasic/images/unitedkingsom.png') }}"  alt="{{ 'portal.idiomas.ingles' | trans }}" title="{{ 'portal.idiomas.ingles' | trans }}"
                                {%- if "en" == app.request.locale %}
                                    class="selected"
                                {%- endif -%}
                                >

                    </a>
                    <a href="{{ path('cambiar_lenguaje',{ '_locale' : 'de' }) }}">

                        <img src="{{ asset('bundles/mgdbasic/images/german.png') }}"  alt="{{ 'portal.idiomas.aleman' | trans }}" title="{{ 'portal.idiomas.aleman' | trans }}"
                                {%- if "de" == app.request.locale %}
                                    class="selected"
                                {%- endif -%}
                                >

                    </a>
                    {% endspaceless %}
                </div>

                <a href="{{ path('home') }}">
                    <img id="logo" src="{{ asset('img/logo.png') }}" title="Referrals Lol" alt="Referrals Lol">
                    <h1 class="title">ReferralsLol.com</h1>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">{{ 'portal.menu.inicio' | trans }}</a></li>
                    <li><a href="{{ path('pedido_' ~ app.request.locale) }}">{{ 'portal.menu.encargar' | trans }}</a></li>
                    <li><a href="{{ path('cuenta_' ~ app.request.locale) }}">{{ 'portal.menu.cuenta' | trans }}</a></li>
                    <li><a href="{{ path('faq_' ~ app.request.locale) }}">{{ 'portal.menu.preguntas' | trans }}</a></li>
                    <li><a href="{{ path('seguimiento_' ~ app.request.locale) }}">{{ 'portal.menu.seguimiento' | trans }}</a></li>
                    <li><a href="{{ path('contacto_' ~ app.request.locale) }}">{{ 'portal.menu.contacto' | trans }}</a></li>

                </ul>
            </nav>
        </header>
    </div>

    <div class="main-container">
        <div class="main wrapper clearfix">

            {% include 'MGDBasicBundle:Partial:flash_msgs.html.twig' %}

            <section id="body_principal">
                {{ block('body_principal') }}
            </section>
            <aside>
                {{ block('aside_principal') }}
            </aside>
            {% block central %}
            {% endblock %}
        </div> <!-- #main -->
    </div> <!-- #main-container -->

    <div class="footer-container">
        <footer class="wrapper">
            <h3>{{ 'portal.footer' | trans }}</h3>
            <section id="social">
                {% include 'MGDBasicBundle:Partial:social.html.twig' %}
            </section>
        </footer>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}
